{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Image</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>{{ categorie.image }}</td>
                <td>{{ categorie.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_categorie_crud_show', {'id': categorie.id}) }}">Voir</a>
                    <a href="{{ path('app_categorie_crud_edit', {'id': categorie.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_crud_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
